<template>
   <v-col cols="12" md="6" sm="9">
      <v-sheet rounded="lg" elevation="5">
        <v-card>
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="lastGames"
            :search="search"
          ></v-data-table>
        </v-card>
      </v-sheet>
    </v-col>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "home",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Date",
          align: "start",
          value: "created_at"
        },
        { text: "Team 1", value: "team_1" },
        { text: "Goal", value: "goal_1" },
        { text: "Goal", value: "goal_2" },
        { text: "Team 2", value: "team_2" }
      ]
    };
  },
  methods: {
    ...mapActions(["getLastGames"])
  },
  computed: {
    ...mapGetters(["lastGames"])
  },
  mounted() {
    this.getLastGames();
  }
};
</script>