<template>
  <v-app id="inspire">
    <Navbar />
    <v-main class="grey lighten-3">
      <v-container fluid>
        <v-row>
          <Leftbar />
          <router-view :key="$route.fullPath" />
          <Rightbar />
        </v-row>
      </v-container>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import Footer from "./inc/footer.vue";
import Leftbar from "./inc/leftbar.vue";
import Navbar from "./inc/navbar.vue";
import Rightbar from "./inc/rightbar.vue";
export default {
  components: { Navbar, Leftbar, Rightbar, Footer },
  data: () => ({})
};
</script>