<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="submit">
        <v-card>
          <v-card-title>
            <span class="headline">Create game</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="8" md="8">
                  <v-select
                    :items="names_1"
                    :rules="[v => !!v || 'Select team']"
                    v-model="team_1"
                    label="Team 1"
                    required
                    @input="handle_2"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="4" md="4">
                  <v-text-field 
                    :rules="goalRules"
                    label="Goal" 
                    v-model="goal_1" 
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="8" md="8">
                  <v-select
                    :items="names_2" 
                    :rules="[v => !!v || 'Select team']"
                    v-model="team_2"
                    label="Team 2" 
                    required
                    @input="handle_1"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="4" md="4">
                  <v-text-field 
                    :rules="goalRules"
                    label="Goal" 
                    v-model="goal_2" 
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Close</v-btn>
            <v-btn color="blue darken-1" type="submit" text>Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["teams"],
  data: () => ({
    dialog: false,
    valid: true,
    team_1: null,
    team_2: null,
    goal_1: "",
    goal_2: "",
    goalRules: [
      v => !!v || "Goal is required",
      v => (v && v.length <= 1) || "Goal must be 1 characters",
      v => (v && Number.isInteger(+v)) || "Goal must be number"
    ],
    names: [],
    names_1: [],
    names_2: []
  }),
  methods: {
    ...mapActions(["createGame", "getTeamGames"]),
    open() {
      this.dialog = true;
      this.names = this.names_1 = this.teams.map(n => n.name);
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.createGame({
          team_1: this.team_1,
          team_2: this.team_2,
          goal_1: this.goal_1,
          goal_2: this.goal_2
        });
        this.dialog = false;
        this.$refs.form.reset();
        this.getTeamGames(this.$route.params.name);
        //this.$emit("push");
      }
    },
    close() {
      this.$refs.form.reset();
      this.dialog = false;
    },
    handle_1() {
      this.names_1 = this.names;
      this.names_1 = this.names_1.filter(n => n != this.team_2);
    },
    handle_2() {
      this.names_2 = this.names;
      this.names_2 = this.names_2.filter(n => n != this.team_1);
    }
  }
};
</script>