<template>
  <v-card>
    <v-footer padless>
      <v-card flat tile width="100%" >
        <v-card-text class="text-center">
          &copy; {{ new Date().getFullYear() }} — <strong>AlexDMercer for WebMechanica</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-card>
</template>

<script>
export default {};
</script>