<template>
   <v-col cols="12" sm="3">
      <v-sheet rounded="lg" elevation="5" class="mb-3 hidden-md-and-up">
         <v-list color="transparent">
            <h4 class="ml-3" v-if="$route.params.name">{{$route.params.name}}</h4>
            <h4 class="ml-3" v-else>Last games</h4>
            <div v-if="$route.params.name">
               <v-list-item>
                  <v-list-item-content>
                     <v-list-item-title>Goal</v-list-item-title>
                  </v-list-item-content>
                  <v-chip label>{{team.goal}}</v-chip>
               </v-list-item>
               <v-list-item>
                  <v-list-item-content>
                     <v-list-item-title>Fail</v-list-item-title>
                  </v-list-item-content>
                  <v-chip label>{{team.fail}}</v-chip>
               </v-list-item>
            </div>
            <div v-else>
               <v-list-item>
                  <v-list-item-content>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  </v-list-item-content>
               </v-list-item>
            </div>
         </v-list>
      </v-sheet>

      <v-sheet rounded="lg" class="mb-3" elevation="5">
         <v-list color="transparent">
            <v-list-item v-for="team in teams" :key="team.id" link @click="$router.push({ name: 'games', params: { name: team.name }})">
               <v-list-item-content>
                  <v-list-item-title>
                     {{ team.name }}
                  </v-list-item-title>
               </v-list-item-content>
            </v-list-item>

            <v-divider class="my-2"></v-divider>

            <v-list-item  @click="createGame" link color="grey lighten-4">
               <v-list-item-content>
                  <v-list-item-title>Create game</v-list-item-title>
               </v-list-item-content>
            </v-list-item>
         </v-list>
      </v-sheet>
      <Create ref="create" :teams="teams" />
   </v-col>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Create from "./create.vue";
export default {
  components: { Create },
  data: () => ({
    items: [
      { text: "Goal", icon: "mdi-clock" },
      { text: "Fail", icon: "mdi-account" }
    ]
  }),
  computed: {
    ...mapGetters(["teams", "team"])
  },
  methods: {
    ...mapActions(["getTeams"]),
    createGame() {
      this.$refs.create.open();
    }
  },
  mounted() {
    this.getTeams();
  }
};
</script>