<template>
  <div>
     <v-app-bar app color="white" flat>
      <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-sm-and-up"></v-app-bar-nav-icon>
      <v-container class="py-0 fill-height" fluid>
      <v-row>
        <v-col cols="12" md="3" sm="3">
          <router-link to="/" style="text-decoration:none; color:black">
            <v-toolbar-title>App</v-toolbar-title>
          </router-link>
        </v-col>
        <v-col cols="9" class="hidden-xs-only">
          <router-link to="/" style="text-decoration: none"><v-btn text>Home</v-btn></router-link>
          <v-btn text>Two</v-btn>
          <v-btn text>Three</v-btn>
        </v-col>
      </v-row>
      </v-container>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" fixed temporary>
        <v-container>
          <v-list nav dense>
            <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
              <router-link to="/" style="text-decoration: none"> 
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>Home</v-list-item-title>
                </v-list-item>
              </router-link>
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Two</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-wrench</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Three</v-list-item-title>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-container>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    group: null
  })
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}
</style>