<template>
   <v-col cols="12" md="3" class="hidden-sm-and-down">
      <v-sheet rounded="lg" elevation="5">
         <v-container>
            <v-list disabled>
               <h4 v-if="$route.params.name">{{team.name}}</h4>
               <h4 v-else>Last games</h4>
               <v-list-item-group v-if="$route.params.name">
               <v-list-item>
                  <v-list-item-content>
                     <v-list-item-title>Goal</v-list-item-title>
                  </v-list-item-content>
                  <v-chip label>{{team.goal}}</v-chip>
               </v-list-item>
               <v-list-item>
                  <v-list-item-content>
                     <v-list-item-title>Fail</v-list-item-title>
                  </v-list-item-content>
                  <v-chip label>{{team.fail}}</v-chip>
               </v-list-item>
               </v-list-item-group>
               <v-list-item-group v-else>
               <v-list-item>
                  <v-list-item-content>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  </v-list-item-content>
               </v-list-item>
               </v-list-item-group>
            </v-list>
         </v-container>
      </v-sheet>
   </v-col>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({
    items: [
      { text: "Goal", icon: "mdi-clock" },
      { text: "Fail", icon: "mdi-account" }
    ]
  }),
  computed: {
    ...mapGetters(["team"])
  }
};
</script>